<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="6">
        <div class="clearfix">
          <h1 class="float-start display-3 me-4">401</h1>
          <h1 class="pt-3">OUPS!</h1>
          <p class="text-medium-emphasis float-start">
            La page à laquelle vous essayer d'acceder ne vous est pas accessible
          </p>
        </div>
        <c-input-group class="input-prepend d-grid">
          <button cButton routerLink="/" color="info">Retourner à la page d'accueil</button>
        </c-input-group>
      </c-col>
    </c-row>
  </c-container>
</div>
