<style type="text/css" media="all">
    #header.center .logo img {
        display: inline-block;
        height: auto;
        /*140px;*/
        /*width:1140px;*/
        max-width: 100%;
        min-height: 63px;
        min-width: 340px;
        position: static;
        top: 0;
        text-align: center;
    }

    .title-container {
        margin-bottom: 5px;
    }

    .blog-img-wrap {
        display: flex;
    }

    #header nav ul.nav-main li a {
        font-size: 14px;
    }

    #header>.container {
        display: table-row-group;
    }

    .bg-dark {
        background-color: #252525;
    }

    body {
        font-size: 16px;
        line-height: 2em;
    }

    .typo-light h1,
    .typo-light h2,
    .typo-light h3,
    .typo-light h4,
    .typo-light h5,
    .typo-light h6,
    .typo-light p,
    .typo-light div,
    .typo-light span,
    .typo-light small {
        color: #6c6a6a;
    }

    .post_by {
        display: none !important;
    }

    img {
        margin-right: 10px;
    }

    #block-system-user-menu {
        display: table;
        align: right;
        width: 100%
            /* list-style-type: none;*/
            /*font-size: 10;*/
    }

    li.views-fluid-grid-item {
        text-align: left;
    }

    #block-system-user-menu ul.menu li {
        display: table-cell;
        /*inline-block;*/
        /*font-size:12px;*/
        table-cell-spacing: 30px;
        /* width: calc(100%/3);*/
    }

    h6 {
        font-size: 16px;
        font-weight: bold;
    }

    .typo-dark h5 a:hover,
    .typo-light h5 a:hover,
    a:hover,
    a:focus,
    a.active {
        color: #445199;
    }

    a,
    .typo-light h5 a,
    .typo-dark h5 a,
    .heading h5 a {
        color: #2196F3;
    }

    .heading h5 a:hover {
        color: #48b6f9;
    }

    /* theme.css | http://172.16.1.92/modelesiteinstituts/sites/all/themes/versh/css/theme.css?qu0tzf */

    /*  .heading h5 a, .heading a.active, .heading a:focus, .heading a:hover {*/
    /* color: white; */
    /* color: #48b6f9;*/
    /*}*/
    .heading a,
    .heading a:active,
    .heading a:focus,
    .heading a:hover {
        color: #2196F3;
    }

    h5 {
        font-weight: bold;
    }

    #endessousduslider a {
        color: white;
    }

    #endessousduslider a:hover {
        color: #445199;
    }

    .btn.dark:hover {
        background-color: yellow;
    }

    .btn:hover,
    .btn:focus,
    .btn.active {
        background: #445199 none repeat scroll 0 0;
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
        color: #fff;
    }

    .navbar-collapse>.container {
        padding-left: 0px;
        padding-right: 0px;
    }

    #block-menu-menu-acc-s-direct ul.menu {
        /* gerer les liens de menus du menu secondaire */
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: transparent;
    }

    #block-menu-menu-acc-s-direct ul.menu li {
        float: right;
    }

    #block-menu-menu-acc-s-direct ul.menu li a {
        display: block;
        color: #2196F3;
        text-align: center;
        padding: 5px 10px;
        text-decoration: none;
    }

    /* Change the link color to white on hover with background mauve */
    #block-menu-menu-acc-s-direct ul.menu li a:hover {
        background-color: #445199;
        color: white;
    }

    .social-icons2 {
        text-align: left;
    }

    .social-icons2 li img {
        margin-bottom: 10px;
        max-width: 48px;
        height: auto;
        float: left;
    }

    .image_frame img,
    .field-item.even img {
        display: initial;
        height: auto;
        margin-left: auto;
        margin-right: 10px;
        max-width: 100%;
    }

    p.img-responsive img {
        max-width: 100%;
        height: auto;
        display: block;
    }

    div.more-link {
        /* lien plus d'articles de la partie actualités: pour en faire un bouton comme les liens Lire la suite*/
        border-radius: 2px;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
        background-color: #2196f3;
        font-size: 16px;
        padding: 8px 22px;
        height: 40px;
        margin-left: 55px;
        width: 160px;
    }

    div.more-link a {
        /* pour mettre en blanc la couleur du lien "plus d'articles" de la zone actualités */
        color: #fff;
    }

    .course-content {
        /* pour separer les articles des liens de type blog */
        margin-top: 20px;
        padding: 20px 20px 25px;
    }

    a.btn {
        /* pour separer le btn 'lire la suite du texte(ou de l'image de l’actualité */

        margin-top: 5px;
    }

    .file img.file-icon {
        float: left;
        height: 16px;
        max-width: 16px;
        width: 16px;
    }

    .date {
        display: none;
    }

    .post_comments {
        display: none;
    }

    .post_categoty {
        display: none;
    }

    .bg-grey {
        background-color: #eee;
        /* ancienne couleur de fond*/

    }

    .bg-verydark {
        background-color: #f0f8ff !important;
    }

    .page-default {
        padding-top: 5px;
    }

    .page-header {
        margin-bottom: 25px;
        ;
    }

    .col-xs-5ths,
    .col-sm-5ths,
    .col-md-5ths,
    .col-lg-5ths {
        position: relative;
        min-height: 1px;
        padding-right: 10px;
        padding-left: 10px;
    }

    .col-xs-5ths {
        width: 20%;
        float: left;
    }

    @media (min-width: 768px) {
        .col-sm-5ths {
            width: 20%;
            float: left;
        }
    }

    @media (min-width: 992px) {
        .col-md-5ths {
            width: 20%;
            float: left;
        }
    }

    @media (min-width: 1200px) {
        .col-lg-5ths {
            width: 20%;
            float: left;
        }
    }

    /*-----------------------Gestion marge et sous titre Mot du Directeur----------------------------*/
    #block-block-4 {
        margin-top: -45px;

    }
</style>



<div class="page-header sm">


    <div class="container">

        <div class="row">

            <div class="col-xs-12">

                <!-- Page Header Wrapper -->

                <div class="page-header-wrapper">

                    <!-- Title & Sub Title -->

                    <!-- Breadcrumb -->

                </div><!-- Page Header Wrapper -->

            </div><!-- Coloumn -->

        </div><!-- Row -->

    </div><!-- Container -->

</div><!-- Page Header -->





<div role="main" class="main">

    <div class="page-default typo-dark">
        <div class="container">
            <div class="row">
                <div id="block-system-main" class="block block-system">
                    <div class="blog_post">
                        <div class="blog_postcontent">
                            <h3>Ecole d'Eté sur la CYBERSECURITE</h3>
                            <div class="clearfix"></div>
                            <div class="margin_top1"></div>
                            <p>
                            </p>
                            <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                                <div class="field-items">
                                    <div class="field-item even" property="content:encoded">
                                        <p>
                                            Du&nbsp;20 au 24 Novembre 2023&nbsp;à l’UCAD, Dakar – Sénégal, le
                                            Laboratoire d’Informatique, de Télécommunications et Applications (LITA) de
                                            l’École Supérieure Polytechnique et le LuxWAyS organisent la 3ème édition de
                                            l’école d’été internationale sur la cybersécurité.</p>
                                        <p>&nbsp; &nbsp; &nbsp;L’école d’été permet de regrouper des dizaines de jeunes
                                            étudiants de niveau au moins Master et des professionnels qui vont recevoir
                                            une formation pratique et théorique très solide sur divers domaines de la
                                            cybersécurité pendant une semaine. Parmi ces jeunes, certains pourraient
                                            être sélectionnés pour un stage ou un PhD en cybersécurité.</p>
                                        <p>&nbsp; &nbsp; &nbsp;L’école d’été va constituer une plateforme d’échange
                                            entre les universitaires et le monde socioprofessionnel pour adresser des
                                            préoccupations majeures en matière de cybersécurité.&nbsp;Cette
                                            2ème&nbsp;édition s’articulera autour des vulnérabilités des API, plus
                                            particulièrement du Top 10 API 2022.</p>
                                        <p>&nbsp; &nbsp; &nbsp;La participation à l’école d’été nécessite une
                                            inscription. Elle se fera via un formulaire accessible sur&nbsp;ce lien.<br>
                                            &nbsp; &nbsp; &nbsp;Pour toute information complémentaire, veuillez nous
                                            contacter à l’adresse suivante&nbsp;<a
                                                href="mailto:lita@esp.sn">lita@esp.sn</a>.<br>
                                            &nbsp;</p>
                                    </div>
                                </div>
                            </div>

                            <p></p>
                        </div>
                    </div>
                    <!-- /# end post -->


                </div>
            </div>
        </div>
    </div>




</div>