<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
    <c-container>
      <c-toaster placement="top-end" position="absolute">
        <c-toast color="danger" *ngIf="errorMessage" [autohide]="false" visible>
        <c-toast-header>
        <strong class="me-auto">Erreur</strong>
        </c-toast-header>
        <c-toast-body>{{errorMessage}}</c-toast-body>
        </c-toast>
      </c-toaster>
      <c-row class="justify-content-center">
        <c-col lg="7" md="9" xl="6">
          <c-card class="mx-4">
            <c-card-body class="p-4">
              <form cForm [formGroup]="regForm" (ngSubmit)="onSubmit()">
                <h1>Définisez votre nouveau mot de passe</h1>
                <c-input-group class="mb-4">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <input autoComplete="new-password" cFormControl placeholder="Mot de passe" type="password" formControlName="newpassword" />
                </c-input-group>
                <c-input-group class="mb-4">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <input autoComplete="new-password" cFormControl placeholder="Répéter le mot de passe" type="password" formControlName="newpassword2" />
                </c-input-group>
                <div class="d-grid">
                  <button cButton type="submit" color="success">Confirmer</button>
                </div>
              </form>
            </c-card-body>
          </c-card>
        </c-col>
      </c-row>
    </c-container>
  </div>
  